<body>
  <div class="page-intro">
    <h2>Task 1: Develop an Interactive World Map</h2>
    <p>Use the search box below or click on a country in the map to see details about the selected country.</p>
  </div>
  <div>
    <app-search-bar (submitted)="onCountry($event)"></app-search-bar>
    <app-country-info [countryDetails]="countryDetails"></app-country-info>
    <app-map></app-map>
  </div>
  <div class="footnote">
    <p>Map from SimpleMaps.com - <a href="https://simplemaps.com/resources/svg-world">https://simplemaps.com/resources/svg-world</a></p>
  </div>
</body>