.page-intro {
    text-align: center; 
    margin-bottom: 2rem;
}

.footnote {
    font-size: 9pt;
    font-style: italic;
    margin-top: 3rem;
    padding: 1rem;
    color: #2D92DB;
    text-align: center;
}

.footnote > p > a {
    color: #2D92DB;
}